# Ignorer les modules Node.js du Frontend (Très Lourd)
enicar-connect-frontend/node_modules/
enicar-connect-frontend/dist/

# Ignorer les fichiers temporaires et de build Java du Backend
enicar-connect-backend/target/
*.class
*.jar
*.war

# Fichiers Serveur et Bases de données générées localement (H2)
enicar-connect-backend/database.mv.db
enicar-connect-backend/database.trace.db
enicar-connect-backend/uploads/

# Outils de développement (IDE) et Système d'exploitation
.idea/
.vscode/
.settings/
.project
.classpath
*.iml
Thumbs.db
.DS_Store
